*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
.container {
    max-width: 100vw;
    padding: 1rem;
}
.row {
    display: flex;
}
.black-keys {
    background: black;
    color: white;
    width: 4vw;
    max-width: 4vw;
    height: 60vh;
    max-height: 60vh;
    font-size:xx-large;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    }

.white-keys {
    background: white;
    color: black;
    width: 4vw;
    max-width: 4vw;
    height: 60vh;
    max-height: 60vh;
    border: 2px solid black;
    font-size:xx-large;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 2rem;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
}